//Файл с переменными

//Переменные для шрифта
$fontFamily: "PTSans";
$fontSize: 14px;

//Переменные для различного разрешение экрана
$maxWidth: 1920;
$wideWidth: 1537;
$maxWidthContainer: 1140;
$tabletWidth: 925;
$phoneWidth: 767;
$narrowWidth: 480;

$mainColor: #000000;
$blackColor: #0F0F0F;
